DerivedData/
build/
*.xcuserstate
xcuserdata/

/.build/
Packages/
Package.resolved

.DS_Store

*.log

*.mode1v3
*.mode2v3
*.perspectivev3

timeline.xctimeline
playground.xcworkspace

*.xcscmblueprint

OnDeck.xcodeproj/project.xcworkspace/xcuserdata/
OnDeck.xcodeproj/xcuserdata/

